<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Tripstudioへようこそ！</h1>

    <h2>
　　このサイトは旅先の写真を投稿して共有できるSNSです。
    </h2>

    <%= link_to "登録はこちら！", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  
<% end %>